form(name="contactForm" ng-submit="fc.submit()" ng-controller="formCtrl as fc") 
    md-input-container.md-block(flex-gt-xs)
        label name
        input(type="text" name="name" 
                ng-model="fc.contact.name" 
                required 
                ng-minlength="3" 
                ng-maxlength="8" 
                ng-required="true")
        p(ng-show="contactForm.name.$error.minlength") Слишком короткое имя
        p(ng-show="contactForm.name.$error.maxlength") Слишком длинное имя
    md-input-container.md-block(flex-gt-xs)
        label phone
        input(type="tel" 
                name="phone" 
                ng-model="fc.contact.phone" 
                required ng-required="true" 
                ng-pattern="/^[\s()+-]*([0-9][\s()+-]*){6,20}$/")
        p(ng-show="contactForm.phone.$error.pattern") Неверный формат
    md-input-container.md-block(flex-gt-xs)
        md-button(type="submit" 
        ng-disabled="contactForm.name.$error.minlength || contactForm.name.$error.maxlength || contactForm.phone.$error.pattern" ).md-primary Отправить
